
<div class="container">
    <div class="row">
        <div class="col-12">
            <form action="">
                <label for="userName">userName</label>
                <input type="text" [value]="userName1" class="form-control font-weight-bold text-center bg-light">
                <label for="">UserEmail</label>
                <input type="email" [value]="email" class="form-control font-weight-bold text-center bg-light">
                <label for="">contact</label>
                <input type="text" [value]="contact" class="form-control font-weight-bold text-center bg-light">
                <label for="">set hardCoded value</label>
                <input type="text" class="form-control" [value]="'this is hardCoded value'">
                
            </form>
        </div>
    </div>
</div>







