

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <ul class="list-group mb-2 text-center">
                <li class="list-group-item bg-dark text-white mb-1 font-weight-bold" *ngFor="let i of skills ; let n = index ">
                    sr no is => {{n + 1 }}  i love {{i}} 
                </li> 
            </ul>
            <ul class="list-group">
                <li class="list-group-item bg-warning" *ngFor="let f of stringArray">
                    best for health {{f}}
                </li>
            </ul>
            <ul class="list-group py-5">
                <li class="list-group-item bg-info" *ngFor="let m of mobile">
                    tops best mobiles brand {{m}}
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item bg-primary" *ngFor="let i of city ; let s = index">
                    <strong class="bg-info">{{i}}</strong> is metro city in india that rank {{s + 1}} 
                </li>
            </ul>
        </div>
    </div>
</div>

  